.example-box {
	border:1px solid black;
	width:750px;
	height:430px;
	margin-left:50px;
}
.image-adjust {
	width:100%;
	height:100%;
}
.window-pane {
	background-color:rgb(214, 194, 194);
	opacity:0.5;
}
.window-pane > span {
	cursor:pointer;
	color:black;
}
.window {
	width:100%; 
	height:100%;
}
.on-view {
	border:1px solid black;
}

